In [2]:
# Add dependencies
import pandas as pd

In [4]:
# Read in csv file
vine_df = pd.read_csv("Resources/vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

In [ ]:
# Create a new df to retrieve all the rows where the total_votes count is greater than or equal to 20
# new_df = 
vine_df["total_votes" >= 20]

In [ ]:
# Filter the new df and create a new one to retrieve all rows where 
# the number of helpful_votes divided by total_votes is equal to or greater than 50%
# ((new_df["helpful_votes"]/new_df[total_votes]) >= .5)

In [ ]:
# Filter the df and create a new one that retrieves all rows where 
# a review was written as part of the Vine program (unpaid), vine == "Y"

In [ ]:
# Filter the df and create a new one that retrieves all rows where 
# a review was not written as part of the Vine program (unpaid), vine == "N"

In [ ]:
# Determine the total number of reviews

In [ ]:
# Determine the number of 5-star reviews

In [ ]:
# Determine the percentage of 5-star reviews for the two types of review (paid vs unpaid)